.list{
    width: 100%;
    height: 870px;
    background: white;
    position: absolute;
    top: 400px;
}
.list_c{
    overflow: hidden;
    width: 1150px;
    height: 870px;
    margin: 0 auto;
}
.list_l{
    float: left;
    width: 770px;
    height: 870px;
}
.msg{
    width: 770px;
    height: 290px;
}
.msg>h2,.list_r>h3{
    padding-top: 20px;
    color: #c1343f;
}
.msg>h4{
    line-height: 32px;
    color: #dd81b4;
}
.msg>dl{
    overflow: hidden;
}
.msg>dl>dt{
    float: left;
    width: 160px;
    height: 160px;
}
.msg>dl>dd{
    float: left;
    padding-left: 20px;
    line-height: 30px;
}
.msg dl>dt>a>img{
    display: block;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.list_r{
    float: right;
    width: 340px;
    height: 870px;
}