<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/a/css/same.css" />
    <link rel="stylesheet" href="/a/css/module.css">
</head>
<body>
<div class="banner">
    <img src="/a/image/background.jpg" alt="">
    <div class="line">
    <div class="line_c">
        <p>Roux Meetups</p>
        <ul>
            <li>Home</li>
            <li><a href="http://localhost:3000/list">Speakers</a></li>
            <li><a href="http://localhost:3000/form">Feedback</a></li>
            <li><a href="http://localhost:3000/user">Chat</a></li>
        </ul>
    </div>
</div>
    <!--内容-->
    <main>
        <div class="con">
            <div class="msg">
                <h3>Art in Full Bloom</h3>
                <p>with Lorenzo Garcia</p>
                <div class="tu">
                    <img src="/a/image/Lorenzo_Garcia_tn.jpg" alt="">
                </div>
            </div>
            <div class="msg">
                <h3>Art in Full Bloom</h3>
                <p>with Lorenzo Garcia</p>
                <div class="tu">
                    <img src="/a/image/Hillary_Goldwynn_tn.jpg" alt="">
                </div>
            </div>
            <div class="msg">
                <h3>Art in Full Bloom</h3>
                <p>with Lorenzo Garcia</p>
                <div class="tu">
                    <img src="/a/image/Riley_Rewington_tn.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
</div>
<!--底部内容-->
<div class="wrap">
    <div class="left">
        <h2>Who are you?</h2>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in</p>
        <p>particpating in the CAC exhibits,and select approximately 200 distinct piece of</p>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in horend</p>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in are horend</p>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in are horend collect</p>
        <p>thousands sub missions</p>
        <h1></h1>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in horend</p>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in horend are</p>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in home</p>
        <p>The Roux Academy gets thousands sub missions every year for</p>
        <h2>Get Busy!</h2>
        <p>The Roux Academy gets thousands sub missions every year for <span>aritists interesting in horend are</span></p>
        <p><span>The Roux Academy gets thousands</span> sub missions every year for meet</p>
        <h2>Who should come?</h2>
        <p>The Roux Academy gets thousands sub missions every</p>
        <p>The Roux Academy gets thousands sub missions every year</p>
        <p>The Roux Academy gets thousands sub missions every year for aritists interesting in horend are</p>
    </div>
    <div class="right">
        <h3>Who should come?</h3>
        <ul>
            <li>Anybody interested in art and the</li>
            <li>creative industry</li>
            <li>Painters,sculptors,photographers and</li>
            <li>graphic artists</li>
            <li>Those interested in meeting and</li>
            <li>making a connerction with othres in the</li>
            <p>of work from our speakers.</p>
        </ul>
        <h3>Artwork on display</h3>
        <p>Painters,sculptors,photographers and</p>
        <p>Painters,sculptors,photographers and home</p>
        <p>Painters,sculptors</p>
        <div class="pic">
            <img src="/a/image/Lorenzo_Garcia_01_tn.jpg" alt="">
            <img src="/a/image/Lorenzo_Garcia_02_tn.jpg" alt="">
            <img src="/a/image/Lorenzo_Garcia_03_tn.jpg" alt="">
            <img src="/a/image/Lorenzo_Garcia_04_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_01_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_02_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_03_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_04_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_05_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_06_tn.jpg" alt="">
            <img src="/a/image/Hillary_Goldwynn_07_tn.jpg" alt="">
            <img src="/a/image/Riley_Rewington_01_tn.jpg" alt="">
            <img src="/a/image/Riley_Rewington_02_tn.jpg" alt="">
            <img src="/a/image/Riley_Rewington_03_tn.jpg" alt="">
            <img src="/a/image/Riley_Rewington_04_tn.jpg" alt="">
            <img src="/a/image/Riley_Rewington_05_tn.jpg" alt="">
            <img src="/a/image/Riley_Rewington_06_tn.jpg" alt="">
        </div>
    </div>
</div>
</body>
</html>