<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="a/css/same.css">
    <link rel="stylesheet" href="a/css/list.css">
</head>
<body>
<div class="banner">
    <img src="a/image/background.jpg" alt="">
    <div class="line">
        <div class="line_c">
            <p>Roux Meetups</p>
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="">Speakers</a></li>
                <li><a href="http://localhost:3000/form">Feedback</a></li>
                <li><a href="http://localhost:3000/user">Chat</a></li>
            </ul>
        </div>
    </div>
    <div class="list">
        <div class="list_c">
            <div class="list_l">
                <div class="msg">
                    <h2>Art in Fool Bloom</h2>
                    <h4>with Lorenzo Garcal</h4>
                    <dl>
                        <dt><a href="http://localhost:3000/speak2"><img src="a/image/Lorenzo_Garcia_tn.jpg" alt=""></a></dt>
                        <dd>
                            <p>Drawing and painting flowers may seem like a first-year art student's</p>
                            <p>assignment,but Lorenzo Garcia bringss depth,shadows,light,form and</p>
                            <p>color to new heights with his unique and revolutionary teachnique of</p>
                            <p>Drawing and painting flowers may seem like a first-year art student's</p>
                            <p>Drawing and painting flowers may seem like</p>
                        </dd>
                    </dl>
                </div>
                <div class="msg">
                    <h2>Art in Fool Bloom</h2>
                    <h4>with Lorenzo Garcal</h4>
                    <dl>
                        <dt><a href="http://localhost:3000/speak1"><img src="a/image/Hillary_Goldwynn_tn.jpg" alt=""></a></dt>
                        <dd>
                            <p>Drawing and painting flowers may seem like a first-year art student's</p>
                            <p>assignment,but Lorenzo Garcia bringss depth,shadows,light,form and</p>
                            <p>color to new heights with his unique and revolutionary teachnique of</p>
                            <p>Drawing and painting flowers may seem like a first-year art student's</p>
                            <p>Drawing and painting flowers may seem like</p>
                        </dd>
                    </dl>
                </div>
                <div class="msg">
                    <h2>Art in Fool Bloom</h2>
                    <h4>with Lorenzo Garcal</h4>
                    <dl>
                        <dt><a href="http://localhost:3000/speak3"><img src="a/image/Riley_Rewington_tn.jpg" alt=""></a></dt>
                        <dd>
                            <p>Drawing and painting flowers may seem like a first-year art student's</p>
                            <p>assignment,but Lorenzo Garcia bringss depth,shadows,light,form and</p>
                            <p>color to new heights with his unique and revolutionary teachnique of</p>
                            <p>Drawing and painting flowers may seem like a first-year art student's</p>
                            <p>Drawing and painting flowers may seem like</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="list_r">
                <h3>Artwork on display</h3>
                <p>Drawing and painting flowers may</p>
                <p>Drawing and painting flowers may seem like</p>
                <p>drawing and painting flowers</p>
                <div class="pic">
                    <img src="a/image/Lorenzo_Garcia_01_tn.jpg" alt="">
                    <img src="a/image/Lorenzo_Garcia_02_tn.jpg" alt="">
                    <img src="a/image/Lorenzo_Garcia_03_tn.jpg" alt="">
                    <img src="a/image/Lorenzo_Garcia_04_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_01_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_02_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_03_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_04_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_05_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_06_tn.jpg" alt="">
                    <img src="a/image/Hillary_Goldwynn_07_tn.jpg" alt="">
                    <img src="a/image/Riley_Rewington_01_tn.jpg" alt="">
                    <img src="a/image/Riley_Rewington_02_tn.jpg" alt="">
                    <img src="a/image/Riley_Rewington_03_tn.jpg" alt="">
                    <img src="a/image/Riley_Rewington_04_tn.jpg" alt="">
                    <img src="a/image/Riley_Rewington_05_tn.jpg" alt="">
                    <img src="a/image/Riley_Rewington_06_tn.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>