<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/a/css/same.css">
    <link rel="stylesheet" href="/a/css/speak2.css">
</head>
<body>
<div class="banner">
    <img src="/a/image/background.jpg" alt="">
    <div class="line">
        <div class="line_c">
            <p>Roux Meetups</p>
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/list">Speakers</a></li>
                <li><a href="http://localhost:3000/form">Feedback</a></li>
                <li><a href="http://localhost:3000/user">Chat</a></li>
            </ul>
        </div>
        <div class="big">
            <div class="two">
                <div class="L">
                    <h2>The Art of Abstract</h2>
                    <p>with Riley Rudolph Rewington</p>
                    <ul>
                        <li><img src="/a/image/Riley_Rewington.jpg" alt=""></li>
                        <li>While you attend the conference,head over attend the conference,head over the conference up</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference on</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference is</li>
                        <li>While you attend the conference,head over conference,head over</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference time</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference up</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference u</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference up</li>
                        <li>While you attend the conference,head over attend the</li>

                    </ul>
                </div>
                <div class="R">
                    <h3>Artwork on display</h3>
                    <p>While you attend the conference,head over</p>
                    <p>to our gallery where you can check out some</p>
                    <p>of the work from our speakers.</p>
                    <div class="tupian">
                        <img src="/a/image/Riley_Rewington_01_tn.jpg" alt="">
                        <img src="/a/image/Riley_Rewington_02_tn.jpg" alt="">
                        <img src="/a/image/Riley_Rewington_03_tn.jpg" alt="">
                        <img src="/a/image/Riley_Rewington_04_tn.jpg" alt="">
                        <img src="/a/image/Riley_Rewington_05_tn.jpg" alt="">
                        <img src="/a/image/Riley_Rewington_06_tn.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="big">
            <div class="three">
                <div class="L">
                    <h2>Art in Full Bloom</h2>
                    <p>with Lorenzo Garcia</p>
                    <ul>
                        <li><img src="/a/image/Lorenzo_Garcia.jpg" alt=""></li>
                        <li>While you attend the conference,head over attend the conference,head over the conference up</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference on</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference is</li>
                        <li>While you attend the conference,head over conference,head over</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference time</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference up</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference u</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference</li>
                        <li>While you attend the conference,head over attend the conference,head over the conference up</li>
                        <li>While you attend the conference,head over attend the</li>

                    </ul>
                </div>
                <div class="R">
                    <h3>Artwork on display</h3>
                    <p>While you attend the conference,head over</p>
                    <p>to our gallery where you can check out some</p>
                    <p>of the work from our speakers.</p>
                    <div class="tupian">
                        <img src="/a/image/Lorenzo_Garcia_01_tn.jpg" alt="">
                        <img src="/a/image/Lorenzo_Garcia_02_tn.jpg" alt="">
                        <img src="/a/image/Lorenzo_Garcia_03_tn.jpg" alt="">
                        <img src="/a/image/Lorenzo_Garcia_04_tn.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>